name: Deploy
on: push

branches: [ $default-branch ]

jobs:
  deploy:
    variables:
      DEPLOY_CURL_COMMAND_BODY: "'{\"signal\":\"restart\"}'"
      DEPLOY_CURL_COMMAND: 'curl -X POST -H "Content-Type: application/json" -H "Accept: application/json" -H "Authorization: Bearer $API_KEY" --data $DEPLOY_CURL_COMMAND_BODY https://control.sparkedhost.us/api/client/servers/85ca44fe/power'
    run:
      - apt-get update -qy
      - apt-get install -y lftp curl
      - exec $shell
      - echo "Starting deployment to server"
      - echo "Starting FTP upload"
      - lftp -e "debug; set sftp:auto-confirm yes; set ssl:verify-certificate false; open -u $FTP_USERNAME,$FTP_PASSWORD $FTP_HOST; mirror -X .* -X .*/ -X venv/ -X resources/ --reverse --verbose --delete; bye"
      - echo "sending CURL command to server to reboot"
      - eval "$DEPLOY_CURL_COMMAND"
