name: Deploy
on:
  push:
    branches:
      - $default-branch

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
  deploy:
    env:
      DEPLOY_CURL_COMMAND_BODY: "'{\"signal\":\"restart\"}'"
      DEPLOY_CURL_COMMAND: 'curl -X POST -H "Content-Type: application/json" -H "Accept: application/json" -H "Authorization: Bearer $API_KEY" --data $DEPLOY_CURL_COMMAND_BODY https://control.sparkedhost.us/api/client/servers/85ca44fe/power'
    steps:
      - run: apt-get update -qy
      - run: apt-get install -y lftp curl
      - run: exec $shell
      - run: echo "Starting deployment to server"
      - run: echo "Starting FTP upload"
      - run: lftp -e "debug; set sftp:auto-confirm yes; set ssl:verify-certificate false; open -u $FTP_USERNAME,$FTP_PASSWORD $FTP_HOST; mirror -X .* -X .*/ -X venv/ -X resources/ --reverse --verbose --delete; bye"
      - run: echo "sending CURL command to server to reboot"
      - run: eval "$DEPLOY_CURL_COMMAND"
